# Assignment 4
## Chapter 5
### 5-1 / 5-2

In [2]:
car = 'subaru'
print("Is car == 'subaru'? I predict True")
print(car == 'subaru')

print("\nIs car == 'audi'? I predict False")
print(car == 'audi')

Is car == 'subaru'? I predict True
True

Is car == 'audi'? I predict false
False

In [8]:
fruit = 'Pineapple'
print("Is fruit == 'pineapple'? I predict True")
print(fruit.lower() == 'pineapple')

print("\nfruit == 'Pineapple'? I predict False")
print(fruit.lower() == 'Pineapple')

Is fruit == 'pineapple'? I predict True
True

fruit == 'Pineapple'? I predict False
False

In [13]:
age = 20
print("Is age < 21? I predict True")
print(age < 21)

print("\nage > 21? I predict False")
print(age > 21)

print("\nIs age = 20? I predict True")
print(age == 20)

print("\nage != 20? I predict False")
print(age != 20)

print("\nIs age <= 20? I predict True")
print(age <= 20)

print("\nage >= 21? I predict False")
print(age >= 21)

Is age < 21? I predict True
True

age > 21? I predict False
False

Is age = 20? I predict True
True

age != 20? I predict False
False

Is age <= 20? I predict True
True

age >= 21? I predict False
False

In [20]:
size = 'grande'
drink = 'coffee'
print("\nsize = grande and drink = coffee? I predict True")
print(size == 'grande' and drink == 'coffee')

print("\nsize = grande and drink = hot cocoa? I predict False")
print(size == 'grande' and drink == 'hot cocoa')

print("\nsize = grande or drink = hot cocoa? I predict True")
print(size == 'grande' or drink == 'hot cocoa')

print("\nsize = venti or drink = hot cocoa? I predict False")
print(size == 'venti' or drink == 'hot cocoa')

size = grande and drink = coffee? I predict True
True

size = grande and drink = hot cocoa? I predict False
False

size = grande or drink = hot cocoa? I predict True
True

size = venti or drink = hot cocoa? I predict False
False

In [22]:
fruit = ["pineapple","strawberry", "orange"]

print("\nIs pineapple in fruit? I predict True")
print('pineapple' in fruit)

print("\nIs cucumber in fruit? I predict False")
print('cucumber' in fruit)

print("\nIs cucumber not in fruit? I predict True")
print('cucumber' not in fruit)

print("\nIs pineapple in fruit? I predict False")
print('pineapple' not in fruit)

Is pineapple in fruit? I predict True
True

Is cucumber in fruit? I predict False
False

Is cucumber not in fruit? I predict True
True

Is pineapple in fruit? I predict False
False

### 5-3

In [25]:
alien_color = "green"

if alien_color == "green":
    print("You earned 5 points")

You earned 5 points

### 5-4

In [28]:
alien_color = "red"

if alien_color == "green":
    print("You earned 5 points for shooting the alien")
else:
    print("You earned 10 points for shooting the alien")

You earned 10 points for shooting the alien

### 5-5

In [32]:
alien_color = "yellow"

if alien_color == "green":
    print("You earned 5 points for shooting the alien")
elif alien_color == "yellow":
    print("You earned 10 points for shooting the alien")
else:
    print("You earned 15 points for shooting the alien")

You earned 10 points for shooting the alien

### 5-6

In [34]:
age = 5

if age < 2:
    print("You are a baby!")
elif age >= 2 and age < 4:
    print("You are a toddler!")
elif age >= 4 and age < 13:
    print("You are a kid!")
elif age >= 13 and age < 20:
    print("You are a teenager!")
elif age >= 20 and age < 65:
    print("You are a adult!")
elif age >= 65:
    print("You are an elder!")

You are a kid!

### 5-7

In [36]:
favorite_fruit = ["pineapple","strawberry", "orange"]

if 'pineapple' in favorite_fruit:
    print("You really like pineapple")

if 'strawberry' in favorite_fruit:
    print("You really like strawberry")
    
if 'apple' in favorite_fruit:
    print("You really like apple")
    
if 'banana' in favorite_fruit:
    print("You really like banana")

if 'orange' in favorite_fruit:
    print("You really like orange")

You really like pineapple
You really like strawberry
You really like orange

### 5-8 / 5-9

In [45]:
usernames = ["admin", "Eric", "Danny", "Roberta", "Robot1"]

if usernames:
    for username in usernames:
        if username =='admin':
            print("Hello admin, would you like to see a status report?")
        else:
            print("Hello " + username + ", thank you for logging in again.")
else:
    print("We need to find you some users!")

Hello admin, would you like to see a status report?
Hello Eric, thank you for logging in again.
Hello Danny, thank you for logging in again.
Hello Roberta, thank you for logging in again.
Hello Robot1, thank you for logging in again.

### 5-10

In [44]:
current_usernames = ["admin", "Eric", "Danny", "Roberta", "Robot1"]
new_usernames = ["newguy", "Eric", "Danny", "Jennifer", "Robot2"]

current_usernames_lowercase = [user.lower() for user in current_usernames]

for new_username in new_usernames:
    if new_username.lower() in current_usernames_lowercase:
        print(new_username + " is taken. You need to enter in a new username")
    else:
        print(new_username + " is available")

newguy is available
Eric is taken. You need to enter in a new username
Danny is taken. You need to enter in a new username
Jennifer is available
Robot2 is available

### 5-11

In [48]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for number in numbers:
    if number == 1:
        print("1st")
    elif number == 2:
        print("\n2nd")
    elif number == 3:
        print("\n3rd")
    else:
        print("\n" + str(number) + "th")

1st

2nd

3rd

4th

5th

6th

7th

8th

9th

### 5-13

I am interested in how you can use programming to gather data in the form of quizzes and surveys and then using the data to make predictions on future behavior.

## Chapter 6

### 6 -1

In [52]:
person = {
    'first_name': "Dennis",
    'last_name': "Ruggerio",
    'age': "24",
    'city': "Seattle, WA"
}

print(person)

{'first_name': 'Dennis', 'last_name': 'Ruggerio', 'age': '24', 'city': 'Seattle, WA'}

### 6-2

In [54]:
favorite_numbers = {
    "person1" : "1",
    "person2" : "2",
    "person3" : "3",
    "person4" : "4",
    "person5" : "5"
}

print(favorite_numbers)

{'person1': '1', 'person2': '2', 'person3': '3', 'person4': '4', 'person5': '5'}

### 6-3/ 6-4

In [57]:
glossary = {
    "list" : "a collection of items in a particular order",
    "dictionary" : "a collection of key value pairs",
    "if statement" : "an expression that can be evaluated as True or False",
    "tuple" : "immutable list",
    "string" : "series of strings",
    "comment" : "A note in a program that the Python interpreter ignores",
    "loop": "Work through a collection of items, one at a time",
    "key": "The first item in a key-value pair in a dictionary",
    "value": "An item associated with a key in a dictionary",
    "conditional test": "A comparison between two values",
    
}

for key, value in glossary.items():
    print(key + ": " + value)

list: a collection of items in a particular order
dictionary: a collection of key value pairs
if statement: an expression that can be evaluated as True or False
tuple: immutable list
string: series of strings
comment: A note in a program that the Python interpreter ignores
loop: Work through a collection of items, one at a time
key: The first item in a key-value pair in a dictionary
value: An item associated with a key in a dictionary
conditional test: A comparison between two values

### 6-5

In [65]:
rivers = {
    "nile" : "egypt",
    "amazon" : "brazil",
    "yangtze" : "china"
}

for key, value in rivers.items():
    print("The " + key.title() + "runs through " + value.title() + ".")
    
for key in rivers.keys():
    print(key.title())

for value in rivers.values():
    print(value.title())

The Nileruns through Egypt.
The Amazonruns through Brazil.
The Yangtzeruns through China.
Nile
Amazon
Yangtze
Egypt
Brazil
China

### 6-6

In [68]:
favorite_languages = {
    'jen': 'python',
    'sarah' : 'c',
    'edward' : 'ruby',
    'phil' : 'python'
}

already_polled = favorite_languages.keys()

potential_pollers = ["jen", 'steve', "edward", "jacob"]

for poller in potential_pollers:
    if poller in already_polled:
        print("Thank you for responding to the poll.")
    else:
        print("Would you like to take our poll?")

Thank you for responding to the poll.
Would you like to take our poll?
Thank you for responding to the poll.
Would you like to take our poll?

### 6-7

In [71]:
person_1 = {
    'first_name': "Dennis",
    'last_name': "Ruggerio",
    'age': "24",
    'city': "Seattle, WA"
}

person_2 = {
    'first_name': "Timothy",
    'last_name': "Spade",
    'age': "22",
    'city': "Seattle, WA"
}

person_3 = {
    'first_name': "Mark",
    'last_name': "Dorchester",
    'age': "23",
    'city': "Seattle, WA"
}

person_list = [person_1, person_2, person_3]

for person in person_list:
    print(person)

{'first_name': 'Dennis', 'last_name': 'Ruggerio', 'age': '24', 'city': 'Seattle, WA'}
{'first_name': 'Timothy', 'last_name': 'Spade', 'age': '22', 'city': 'Seattle, WA'}
{'first_name': 'Mark', 'last_name': 'Dorchester', 'age': '23', 'city': 'Seattle, WA'}

### 6-8

In [74]:
Shadow = {
    'breed' : 'German Shepard',
    'owner' : 'Dennis'
}

Taquito = {
    'breed' : 'Corgi',
    'owner' : 'Jim'
}

Rudy  = {
    'breed' : 'Cavichon',
    'owner' : 'Owen'
}

pets = [Shadow, Taquito, Rudy]

for pet in pets:
    print(pet)

{'breed': 'German Shepard', 'owner': 'Dennis'}
{'breed': 'Corgi', 'owner': 'Jim'}
{'breed': 'Cavichon', 'owner': 'Owen'}

### 6-9

In [81]:
favorite_places = {
    'Dennis' : ["Italy", "London", "Canada"],
    'Timothy' : ["DisneyLand", "DisneyWorld"],
    'Mark' : ["My couch"]
}

for key, value in favorite_places.items():
    print (key + ": ")
    print(value)

Dennis:
['Italy', 'London', 'Canada']
Timothy:
['DisneyLand', 'DisneyWorld']
Mark:
['My couch']

### 6-10

In [82]:
favorite_numbers = {
    "person1" : ["1", "11"],
    "person2" : ["2", "12"],
    "person3" : ["3", "13"],
    "person4" : ["4", "14"],
    "person5" : ["5", "15"]
}

for key, value in favorite_numbers.items():
    print (key + ": ")
    print(value)

person1:
['1', '11']
person2:
['2', '12']
person3:
['3', '13']
person4:
['4', '14']
person5:
['5', '15']

In [86]:
cities = {
    "Seattle" : {
        'Country' : 'USA',
        'Population' : '724,717',
        'Fact' : 'We make the best coffee.'
    },
    "New York" : {
        'Country' : 'USA',
        'Population' : '8,600,000',
        'Fact' : 'They have nice bagels.'
    },
    "London" : {
        'Country' : 'UK',
        'Population' : '8,100,000',
        'Fact' : 'They have funny accents'
    }
}

for key, value in cities.items():
    print (key + ": ")
    print(value)

Seattle:
{'Country': 'USA', 'Population': '724,717', 'Fact': 'We make the best coffee.'}
New York:
{'Country': 'USA', 'Population': '8,600,000', 'Fact': 'They have nice bagels.'}
London:
{'Country': 'UK', 'Population': '8,100,000', 'Fact': 'They have funny accents'}

### 6-12

In [90]:
person_1 = {
    'first_name': "Dennis",
    'last_name': "Ruggerio",
    'age': "24",
    'city': "Seattle, WA"
}

person_2 = {
    'first_name': "Timothy",
    'last_name': "Spade",
    'age': "22",
    'city': "Seattle, WA"
}

person_3 = {
    'first_name': "Mark",
    'last_name': "Dorchester",
    'age': "23",
    'city': "Seattle, WA"
}

person_list = [person_1, person_2, person_3]

for person in person_list:
    for key, value in person.items():
        print(key + ": " + value)
    print("\n")

first_name: Dennis
last_name: Ruggerio
age: 24
city: Seattle, WA


first_name: Timothy
last_name: Spade
age: 22
city: Seattle, WA


first_name: Mark
last_name: Dorchester
age: 23
city: Seattle, WA